body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.sidebar {
    width: 110px;
    height: 100vh;
    border-right: 2px solid #e5e5e5;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 45px;
    height: 45px;
    background-color: #5b4ef5;
    color: white;
    border-radius: 8px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.menu {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.menu-item {
    width: 52px;
    height: 52px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8396a5;
    font-size: 28px;
    cursor: pointer;
}

.logout {
    margin-top: auto;
    margin-bottom: 45px;
}

.main-content {
    margin-left: 110px;
    min-height: 100vh;
}

.topbar {
    height: 95px;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}

.topbar h2 {
    font-weight: 700;
    margin: 0;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.bell-icon {
    font-size: 30px;
    color: black;
}

.profile-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.notification-container {
    padding: 35px 45px;
}

.notification-card {
    border: 1.5px solid #8fa5b8;
    border-radius: 8px;
    padding: 25px 35px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 18px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.20);
}

.notification-card img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.notification-content {
    flex: 1;
}

.notification-text {
    font-size: 18px;
    color: #777;
    margin-bottom: 8px;
}

.notification-text strong {
    color: #000;
}

.notification-text .target {
    color: #000;
    font-weight: 500;
}

.notification-time {
    color: #777;
    font-size: 15px;
}

.action-buttons {
    margin: 8px 0 15px 0;
    display: flex;
    gap: 12px;
}

.btn-decline {
    border: 1px solid #bbb;
    background: white;
    padding: 7px 25px;
    border-radius: 8px;
}

.btn-accept {
    border: none;
    background: black;
    color: white;
    padding: 7px 25px;
    border-radius: 8px;
}